<div class="flex flex-column p-2">
    <mat-form-field>
        <mat-label>Termino de busqueda</mat-label>
        <input 
        matInput
        [formControl]="searchImput"
        (input)="searchValue()"
        [matAutocomplete]="auto"
        type="text" 
        />

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
        (optionSelected)="onSelectedOption( $event )"    
        >
            <mat-option
            *ngFor="let hero of heroes" [value]="hero"
            >
            {{hero.superhero}}
            </mat-option>
            <mat-option *ngIf="heroes.length === 0 && searchImput.value && searchImput.value.length > 0 "
                value="">
                No se encontro ninguna busqueda con el valor de {{ searchImput.value }}
            </mat-option>
        </mat-autocomplete>
        
    </mat-form-field>

    {{ selectedHero | json }}

</div>
